<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">Online Voting System</a>
      <div class="row">
        <div class="col-6 col-md-4">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ firstname | upper }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('logout')}}">LogOut</a></li>
                  </ul>
                </li>
            </ul>
        </div>
        
      </div>
    </div>
  </nav>